@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: white;
}
border{
  border-radius: 10px;
}
backgroundColor{
  background-color:  #0f0716;
}
body{
  background-color:  #0f0716;
  color: white;
}
.navbar{
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
}
.custom-icon{
  padding-top: 10px;
  padding-left: 10px;
  position: absolute;
}
.navbar-custom{
  height: 4vh;
}
.curved-box{
  border-radius: 10px;
  outline: none;
  border: 2px solid #f310e1;
  padding: 10px;
}
.animated-banner{
  width: 100%;
  overflow: hidden;
}
.animated-text{
  white-space: nowrap;
  animation: marquee 20s linear infinite;
  animation-fill-mode: both;
  animation-delay: -20s;
}

.marquee-container{
  overflow: hidden;
  width: 100%;
  
.marquee{
  animation-fill-mode: both;
  left: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  animation: marquee 30s linear infinite;
}
.marquee2{
    animation-delay: 15s;
  }
  b {
    padding-left: 10px;
  }
}
@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -100%
  }
}